<div class="jumbotron center">
	<h1>Bienvenido a mi aplicacion</h1>
	<p><%= link_to "Iniciar Sesión", "#",class: 'btn btn-warning btn-lg' %>
		
		<%= link_to "Registrate", "#",class: 'btn btn-primary btn-lg' %>
	</p>
</div>

